/StudentDailyAttendanceConsumer 1.log
/StudentDailyAttendanceConsumer 2.log
/StudentPersonalConsumer 1.log
/StudentPersonalConsumer 2.log
/RolloverStudentConsumer 1.log
/RolloverStudentConsumer 2.log
