/BrokeredAttTrackerConsumer.properties
/JHLocalStudentConsumer.properties
/NSWTestConsumer.properties
/QueueTestConsumer.properties
/SecureStudentConsumer.properties
/RicOneConsumer.properties
/BrokeredWebSISConsumer.properties
